/* Theme Variables */
/* Reset */
html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hk Grotesk";
}

input:focus {
  outline: none;
}

/* Dom styles */
body {
  background-color: #eeeeee;
}

.header-accent {
  z-index: -2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #FFc000;
  border-radius: 0 0 20% 20%;
}

.assistant {
  position: fixed;
  top: 0;
  width: 87%;
  margin: 0 7%;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.assistant input {
  border: 0;
  width: 90%;
  flex-grow: 1;
  margin-left: 1rem;
}

.search-dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity, 0s visibility 0.3s;
  will-change: opacity, visibility;
}

.show {
  visibility: visible;
  opacity: 0.5;
  transition: 0.3s opacity;
}

.bottom-action-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 3.4em;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.bottom-action-bar > .left-menu {
  font-size: 1.3rem;
  flex-basis: 4rem;
  text-align: center;
}

.bottom-action-bar > .left-menu span {
  padding: 0.5rem 1rem;
}

.bottom-action-bar > .action {
  flex-grow: 1;
  text-align: center;
}

.bottom-action-bar > .action .button {
  position: relative;
  display: flex;
  width: 87%;
  margin: 0 7%;
  justify-content: center;
  top: -1.7rem;
  background: #FFc000;
  border-radius: 1.7rem;
  padding: 1rem 2rem;
  font-weight: 500;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.bottom-action-bar > .action .lnr {
  font-size: 1.5em;
  margin-right: 0.75rem;
}

.bottom-action-bar > .right-menu {
  font-size: 1.3rem;
  flex-basis: 4rem;
  text-align: center;
}

.bottom-drawer {
  position: fixed;
  width: 100%;
  height: 18rem;
  background-color: white;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5% 5% 0 0;
  bottom: -19rem;
  transition: 0.3s bottom;
  will-change: bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-drawer > .profile {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.bottom-drawer > .profile > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.bottom-drawer > .profile .name {
  font-weight: 500;
}

.bottom-drawer > .profile .email {
  font-size: 0.8rem;
  color: #aaaaaa;
}

.bottom-drawer > .profile .settings {
  flex-grow: 1;
  text-align: right;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.bottom-drawer .menu-item {
  padding: 1.5rem;
}

.bottom-dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity, 0s visibility 0.3s;
  will-change: opacity, visibility;
}

#bottom-menu-collapse {
  display: none;
}

#bottom-menu-collapse:checked ~ .bottom-drawer {
  bottom: 0rem;
}

#bottom-menu-collapse:checked ~ label > .bottom-dim {
  visibility: visible;
  opacity: 0.5;
  transition: 0.3s opacity;
}

/* Theme Helpers */
.card {
  width: 87%;
  margin: 1rem 7%;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card > h3 {
  margin-bottom: 0.5rem;
}

.card .card-switch {
  border: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  margin-left: 1rem;
  color: #FFc000;
  background-color: white;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */
