/* Theme Variables */
/* Use HELPERS for styles that will exist once */
/* COLOR */
.white {
  background-color: white;
}

.red {
  background-color: red;
}

.accent-gray {
  background-color: #aaaaaa;
}

.bg-gray {
  background-color: #f5f5f5;
}

.accent {
  background-color: #FFc000;
}

.dark-accent-text {
  color: #554400;
}

.transparent {
  background-color: transparent;
}

.accent-text {
  color: #FFc000;
}

/* BORDER */
.light-border {
  border: 1px solid #eeeeee;
}

/* BORDER RADIUS */
.border-radius-large {
  border-radius: 2rem;
}

/* SHADOW */
.shadow {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.shadow-up {
  -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.05);
}

/* POSITION */
.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* FONT */
.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.icon-large {
  font-size: 5rem;
}

.large {
  font-size: 1.3rem;
}

/* DISPLAY */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ALIGNMENT*/
.center {
  text-align: center;
}

/* SIZE */
.wide {
  width: 100vw;
}

.wide-75 {
  width: 75vw;
}

.high {
  height: 100%;
}

/* PADDING */
.padding {
  padding: 1rem;
}

.padding-small {
  padding: 0.5rem;
}

.padding-large {
  padding: 2rem;
}

.padding-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-y-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* MARGIN */
.margin-x-small {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.margin-y {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin {
  margin: 1rem;
}

html, body, *, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "HK Grotesk", Arial, sans-serif;
}

input, button {
  border: none;
  outline: none;
}

.disk {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

#assistant {
  width: calc(100% - 3rem);
  margin: 1.5rem 1.5rem;
  border-radius: 2rem;
  padding: 0rem;
  -webkit-transition: 0.1s width, 0.1s padding, 0.1s margin, 0.1s border-radius;
  transition: 0.1s width, 0.1s padding, 0.1s margin, 0.1s border-radius;
  will-change: width, padding, margin, border-radius;
}

#assistant:focus-within {
  width: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 0rem;
  padding: 0.5rem;
}

#bottom-action-bar {
  z-index: 0;
  height: 3.4rem;
  bottom: 0;
  line-height: 0;
}

#bottom-action-bar > .left-menu, #bottom-action-bar > .right-menu {
  font-size: 1.5rem;
  text-align: center;
  height: 100%;
  -ms-flex-preferred-size: 4rem;
      flex-basis: 4rem;
}

#bottom-action-bar > .left-menu span, #bottom-action-bar > .right-menu span {
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

#bottom-action-bar > .action {
  text-align: center;
}

#bottom-action-bar > .action .button {
  position: relative;
  top: -1.7rem;
  background-color: #FFc000;
  border-radius: 1.7rem;
  padding: 1rem 2rem;
  font-weight: 600;
  color: #554400;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

#bottom-action-bar > .action .button .lnr {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  vertical-align: middle;
}

.bottom-drawer {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: white;
  border-radius: 5% 5% 0 0;
  top: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-drawer > .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}

.bottom-drawer > .profile > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.bottom-drawer > .profile .name {
  font-weight: 600;
}

.bottom-drawer > .profile .email {
  font-size: 0.8rem;
  color: #aaaaaa;
}

.bottom-drawer > .profile .settings {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.bottom-drawer .menu-item {
  padding: 1rem;
  width: 100%;
}

.action-pane {
  z-index: 2;
  position: fixed;
  bottom: -13rem;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #555555;
  border-radius: 5% 5% 0 0;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  will-change: transform;
}

.action-pane .travel-selection {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.action-pane .travel-selection label {
  z-index: -1;
  position: absolute;
  margin-top: -4.25rem;
  left: 2rem;
}

.action-pane > span {
  position: relative;
}

.action-pane > span > span > .lnr {
  position: absolute;
  margin-top: 2.5rem;
  right: 2rem;
}

.action-pane select {
  position: relative;
  background-color: transparent;
  font-size: 1.1rem;
  width: 100%;
  border: 0;
  padding: 3rem 2rem 1.5rem;
  font-weight: 900;
  -webkit-appearance: none;
}

.travelbtn-container {
  width: 100%;
  max-width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFc000;
  text-align: center;
}

.travelbtn-container .lnr {
  margin: auto;
  font-size: 1.5rem;
  color: #554400;
}

.dim {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0s visibility 0.3s;
  transition: 0.3s opacity, 0s visibility 0.3s;
  will-change: opacity, visibility;
}

#card-container {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  background-color: white;
  margin: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.card h4 {
  color: #555555;
  padding: 1rem 1.5rem 0.5rem;
}

.card .weather-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1.5rem 0rem 1.5rem;
  color: #555555;
}

.card .weather-main .temperature {
  line-height: 0px;
  font-size: 4rem;
}

.card .detail-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .detail-main .lnr {
  color: #FFc000;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.card .weather-sub {
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .weather-sub * + .sub-item {
  border-left: 1px solid gainsboro;
}

.card .weather-sub .sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  color: #555555;
}

.card .weather-sub .sub-item .lnr {
  color: #FFc000;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.card .station .congestion {
  color: #555555;
  line-height: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

.card .station .congestion .indicator {
  margin: 1rem;
}

.card .station .congestion .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .station .congestion .text .direction {
  font-size: 0.9rem;
  font-weight: 600;
}

.card .station .congestion .text .status {
  color: #aaaaaa;
}

.ride-panel {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.ride-panel .title {
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.ride-panel .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ride-panel .message-large {
  font-size: 2rem;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 4rem;
  margin-top: auto;
}

.ride-panel .sub-message {
  font-size: 0.9rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 1.5rem;
}

.ride-panel .infodetail {
  margin-top: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ride-panel .infodetail > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ride-panel .infodetail > .item > .head {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.ride-panel .infodetail > .item > .lnr {
  font-size: 4rem;
  color: #eeeeee;
}

.ride-panel .infodetail > .item > .value {
  font-size: 1.3rem;
  font-weight: 600;
}

.ride-panel .track {
  line-height: 0;
  margin-bottom: auto;
}

.ride-panel .track progress[value] {
  margin-top: 2.5rem;
  height: 0.25rem;
  width: calc(100vw - 4rem);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.ride-panel .track progress[value]::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 10px;
}

.ride-panel .track progress[value]::-webkit-progress-value {
  background-color: #FFc000;
  border-radius: 10px;
}

.ride-panel .track .indicator {
  position: relative;
  top: -0.5rem;
  display: block;
}

.ride-panel .track .start {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
  background-color: #FFc000;
  border-radius: 50%;
  margin-left: 0;
}

.ride-panel .track .tip {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  background-color: #FFc000;
  border-radius: 50%;
  left: 0;
}

.ride-panel .track .end {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  color: #FFc000;
  font-size: 1.25rem;
  position: relative;
  line-height: 0;
  top: -0.5rem;
  right: 0.5rem;
  font-weight: 600;
  margin-left: calc(100% - 0.5rem);
}

.ride-panel label {
  width: 100%;
  text-align: center;
}

.ride-panel .button {
  display: inline-block;
  background-color: #FFc000;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  -webkit-transition: 0.3s width;
  transition: 0.3s width;
  width: width;
  position: relative;
}

.ride-panel .button .lnr {
  font-weight: 600;
}

.ride-panel .button .lnr-cross {
  display: none;
}

.ride-panel .view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s opacity, 0.4s transform;
  transition: 0.4s opacity, 0.4s transform, 0.4s -webkit-transform;
  will-change: opacity,transform;
}

.map {
  width: 150%;
  height: 150%;
  -webkit-transform: rotate(10deg) scale(0.8);
          transform: rotate(10deg) scale(0.8);
  position: absolute;
  top: -10rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: 0.6s opacity, 0s visibility 0.4s, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0s visibility 0.4s, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s transform, 0s visibility 0.4s;
  transition: 0.6s opacity, 0.6s transform, 0s visibility 0.4s, 0.6s -webkit-transform;
  will-change: opacity, visibility, transform;
}

#map-reveal {
  display: none;
}

#map-reveal:checked ~ .ride-panel > .view {
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

#map-reveal:checked ~ .ride-panel > label > .button {
  width: 30%;
}

#map-reveal:checked ~ .ride-panel > label > .button .lnr-cross {
  display: initial;
}

#map-reveal:checked ~ .ride-panel > label > .button .lnr-map, #map-reveal:checked ~ .ride-panel > label > .button .lnr-map-marker {
  display: none;
}

#map-reveal:checked ~ .ride-panel > .map {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: 0.6s opacity 0.2s, 0.6s -webkit-transform 0.2s;
  transition: 0.6s opacity 0.2s, 0.6s -webkit-transform 0.2s;
  transition: 0.6s opacity 0.2s, 0.6s transform 0.2s;
  transition: 0.6s opacity 0.2s, 0.6s transform 0.2s, 0.6s -webkit-transform 0.2s;
}

#bottom-menu-collapse:checked ~ .bottom-drawer {
  -webkit-transform: translateY(-24rem);
          transform: translateY(-24rem);
}

#bottom-menu-collapse:checked ~ #forBottomDrawer {
  visibility: visible;
  opacity: 0.6;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

#action-collapse:checked ~ .action-pane {
  -webkit-transform: translateY(-13rem);
          transform: translateY(-13rem);
}

#action-collapse:checked ~ #forActionPane {
  visibility: visible;
  opacity: 0.6;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  will-change: opacity,visibility;
}

#map-reveal:checked ~ .view {
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

#map-reveal:checked ~ label > .button {
  width: 30%;
}

#map-reveal:checked ~ label > .button .lnr-cross {
  display: initial;
}

#map-reveal:checked ~ label > .button .lnr-map, #map-reveal:checked ~ label > .button .lnr-map-marker {
  display: none;
}

#map-reveal:checked ~ .map {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: 0.6s opacity 0.2s, 0.6s -webkit-transform 0.2s;
  transition: 0.6s opacity 0.2s, 0.6s -webkit-transform 0.2s;
  transition: 0.6s opacity 0.2s, 0.6s transform 0.2s;
  transition: 0.6s opacity 0.2s, 0.6s transform 0.2s, 0.6s -webkit-transform 0.2s;
}

#community > .header-accent {
  position: fixed;
  width: 100%;
  background-color: #FFc000;
  height: 6rem;
  border-radius: 0;
  z-index: -1;
}

#community > .header-accent .header-content {
  font-weight: 600;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1rem;
  color: #554400;
}

#community > .header-accent .header-content .lnr {
  font-weight: 600;
}

.tabs {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.25rem;
}

.tabs > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  -ms-flex-preferred-size: 1rem;
      flex-basis: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.25rem;
  font-weight: 600;
  color: #cccccc;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
}

.tabs > span.active {
  color: #FFc000;
}

.tabs > span > span {
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.list-item {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: calc(100% - 1rem);
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  margin: 0.5rem;
  -webkit-transition: 0.1s background-color;
  transition: 0.1s background-color;
  will-change: background-color;
  color: #555555;
}

.list-item > span > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.list-item > span > .online {
  display: inline-block;
  border-radius: 50%;
  height: 0.85rem;
  width: 0.85rem;
  background-color: #00ee00;
  position: relative;
  top: -2rem;
  left: -1.85rem;
}

.list-item .name {
  color: #555555;
  font-weight: 600;
}

.list-item .last {
  font-size: 0.8rem;
  color: #aaaaaa;
}

.list-item .enter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  font-size: 1.3rem;
  color: #555555;
  margin-right: 0.5rem;
}

.list-item:active {
  background-color: #FFc000;
}

.slidertl-enter-active, .slidertl-leave-active {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.slidertl-enter, .slidertl-leave-to {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  will-change: transform;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slideup-enter-active, .slideup-leave-active {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.slideup-enter, .slideup-leave-to {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  will-change: transform;
}
/*# sourceMappingURL=style.css.map */